* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(124, 57, 187);
}

main {
    background-color: white;
    width: 565px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(15, 15, 15, 0.486);

}

h1 {
    font-size: 22px;
    color: rgb(173, 49, 173);
}

h2 {
    color: rgb(173, 49, 173);
}

a:houver {
    color: rgb(173, 49, 173);
}

a:link {
    color: rgb(173, 49, 173);
}

img.lado {
    float:right;
}
iframe {
    float:center;
}